<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v.pubg.lol.dao.EventsMapper">
  <resultMap id="BaseResultMap" type="v.pubg.lol.model.Events">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="happen" jdbcType="DATE" property="happen" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
</mapper>